.orange {
  background-color: orange;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}
.blue {
  background-color: blue;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
}
.red {
  background-color: red;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
}
.yellow {
  background-color: yellow;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}
.purple {
  background-color: purple;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
}

.bolder {
  font-weight: bolder;
  font-size: 20px;
}
